<form #singInForm="ngForm" (ngSubmit)="onSignIn()">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
      [(ngModel)]="singInData.email"
      #email
      name="email"
      required
    >
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input
      name="password"
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
      [(ngModel)]="singInData.password"
      #password
      required
    >
    <label for="floatingPassword">Password</label>
  </div>

  <button [disabled]="!singInForm.form.valid"
          class="w-100 btn btn-lg btn-primary"
          type="submit"
  >Sign In</button>
</form>
<hr>
