<form #singUpForm="ngForm" (ngSubmit)="onSingUp()" >
  <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Name"
      [(ngModel)]="singUpData.name"
      #name
      name="name"
      required
    >
    <label for="floatingInput">Name</label>
  </div>

  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
      [(ngModel)]="singUpData.email"
      #email
      name="email"
      required
    >
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input
      name="password"
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
      [(ngModel)]="singUpData.password"
      #password
      required
    >
    <label for="floatingPassword">Password</label>
  </div>

  <button [disabled]="!singUpForm.form.valid"
          class="w-100 btn btn-lg btn-primary"
          type="submit"
  >Sign Up</button>
</form>
<hr>
